.App {
  text-align: center;
}

.App-header {
  background-color: #02bef7;
  min-height: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.menu-button {
  width: 150px;
  height: 70px;
  border-radius: 15px;
  font-size: 25px;
  background-color: #02bef7;
  border: 5px solid #ccc;
}

.menu {
  border: 5px solid #ccc;
  background-color: #f73c3cd2;
  border-radius: 15px;
}

.nav-li {
  font-size: 25px;
}


.slideshow img {
  margin: 0 10px;
}

.logo-radius {
  border-radius: 15px;
}