.App {
  text-align: center;
}

/* .body {
  background-color: linear-gradient(
    140deg,
    rgb(253, 253, 253) 0%,
    rgb(107, 166, 235) 50%,
    rgba(146, 112, 238, 0.63) 75%
  );
} */

/* html,
body {
  height: 100%;
} */

body {
  background: linear-gradient(
    140deg,
    rgb(253, 253, 253) 0%,
    rgb(107, 166, 235) 50%,
    rgba(146, 112, 238, 0.63) 75%
  );
  color: black;
  text-align: center;
  background-position: 0em;
}

.App-header {
  /* background-color: #02bef7; */
  min-height: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.menu-button {
  width: 150px;
  height: 70px;
  border-radius: 15px;
  font-size: 25px;
  /* background-color: #02bef7; */
  border: 5px solid rgb(15, 15, 15);
}

.menu {
  border: 5px solid rgb(20, 20, 20);
  background-color: #f7efefd2;
  border-radius: 15px;
}

.nav-li {
  font-size: 25px;
}

.slideshow img {
  margin: 0 10px;
  padding: 10px;
}

.logo-radius {
  border-radius: 15px;
}

.nav-li {
  padding-bottom: 10px; /* add space inside the item */
}

.picposition {
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
}

.account-detail-size {
  height: 100vh;
}
