
body {
  /* background-image: linear-gradient(#233329, #63D471) */
  /* background-image: linear-gradient(140deg, rgba(2, 100, 8, 0.747) 0%, rgba(20, 110, 47, 0.842) 50%, rgba(88, 65, 22, 0.753) 75%); */
  /* color: black; */
  /* background: #5A3F37;  fallback for old browsers */
  /* background: -webkit-linear-gradient(to top, #e3f1e7, #7aac75); */
  background: linear-gradient(140deg, #6de3e7, #218513); 
  /* background: linear-gradient(to right, #27badf, #e41b1b); */
  text-align: center;
  background-size: 400% 400%;
  animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


/* Dark mode styles */
.dark-mode {
  /* background-color: rgb(65, 59, 59); */
  background: linear-gradient(140deg, #404242, #030303); 
  background-size: 400% 400%;
  animation: animate-background 10s infinite ease-in-out;
  color: rgba(66, 226, 247, 0.582);
  /* text-align: center; */
}

.toggle-switch {
  position: relative; /* The circle elements will be absolutely positioned relative to this element */
  width: 50px; /* The width of the toggle switch */
  height: 32px; /* The height of the toggle switch */
  background: grey; /* The background color of the toggle switch */
  border-radius: 30px; /* The border radius of the toggle switch */
  cursor: pointer; /* The cursor changes to a pointer when hovering over the toggle switch */
}

.toggle-switch:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  transition: left 0.2s ease;
  background-image: url(https://cdn3.vectorstock.com/i/1000x1000/40/02/crescent-moon-symbol-icon-design-vector-22314002.jpg);
  /* Add a background image of a moon */
  background-size: cover; /* Scale the background image to cover the entire element */
  background-position: center; /* Position the background image in the center of the element */
}

/* Change the position of the moon when the toggle switch is turned on */
/* .toggle-switch.on:before {
    left: 25px;
}  */

.input {
  margin: 10px;
  -webkit-appearance: none;
  position: relative;
  width: 100px;
  height: 50px;
  background-image: url('https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png');
  background-size: cover;
  border-radius: 50px;
  outline: none;
  background-color: transparent;
  transition: background-image .90s;
  box-shadow: 0px 2px 5px 1px gray;
}

.input:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  /* background-color: navy; */
  border-radius: 50px;
  transition: all .9s;
  /* background-color: #F7CA33; */
  background-size: cover;
  background-image: url('https://www.iconpacks.net/icons/2/free-sun-icon-1846-thumb.png');
}

.input:checked {
  background-image: url('https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png');
  transition: background-image .90s;
}

.input:checked:before {
  transform: translate(100%);
  transition: all .9s;
  /* background-color: #ECF0F3; */
  background-size: cover;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(138, 135, 135);
  background-image: url('https://i.pinimg.com/564x/1c/22/43/1c22433b8d3aec799fd8187ca3030193.jpg');
}

.button-transpar {
  background-color: transparent;
  /* outline: 0; */
  outline-color: transparent;
  border: none;
}

.logo-radius {
  box-shadow: 3px 3px 2px 0px rgb(83, 82, 82);
}

.footer-1 {
  padding: 10rem;
  position: flex;
}


/* .logotxt {
  color: linear-gradient(45deg, #7dcfbb, #00eeff);
  font-family: bradley hand, cursive;
  left: 1%;
  top: 11%;
  position: absolute;
} */

.eventform {
  border-radius: 20px;
}

.footer1 {
  background-color: rgba(4, 243, 231, 0.26);
  height: 400px;
  background-image: url('https://images.pexels.com/photos/1761282/pexels-photo-1761282.jpeg?cs=srgb&dl=pexels-jacob-colvin-1761282.jpg&fm=jpg');
  background-size: cover;
  margin-top: 10%;
  top: 10%;
}

.aside1 {
  right: 20% !important;
  top: 30% !important;
  font-size: 30px;
  position: flex;
  height: 200px;
  width: 200px;
  /* background-image: url('https://static.thenounproject.com/png/739210-200.png') */
}

.event-margin {
  margin-bottom: 40%;
}

.footer-quote1 {
  font-size: 70px;
  /* text-align: center; */
  bottom: 10%;
  height: 80px;
  color:rgb(107, 166, 235);
}

.footer-quote2 {
  font-size: 30px;
  color:rgb(107, 166, 235);
}

@import url('https://fonts.googleapis.com/css?family=Coiny');

.cloud-text {
	font-family: 'Coiny', cursive;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;	
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/clouds.jpg);
	background-size: auto;
	background-attachment: unset;
	background-position: 0%;
	width: 80%;
	margin: 10%;
	font-size: 134px;
	animation: clouds-moving infinite 220s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	text-align: center;
}
@keyframes clouds-moving {
	0% {
		background-position: 0%;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: 0%;
	}
}
.attribute {
	position: relative;
	font-size: 26px;
	text-align: center;
}

.logo-position {
  top: 20%;
}

.cloud-text2 {
	font-family: 'Coiny', cursive;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;	
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/clouds.jpg);
	background-size: auto;
	background-attachment: unset;
	background-position: 0%;
	width: 80%;
	margin: 10%;
	font-size: 75px;
	animation: clouds-moving infinite 220s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	text-align: center;
}
@keyframes clouds-moving {
	0% {
		background-position: 0%;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: 0%;
	}
}
.attribute {
	position: relative;
	font-size: 26px;
	text-align: center;
}