/* Light mode styles */
/* body {
  background: linear-gradient(140deg, rgb(253, 253, 253) 0%, rgb(107, 166, 235) 50%, rgba(146, 112, 238, 0.63) 75%);
  color: black;
  text-align: center;
} */

/* Dark mode styles */
.dark-mode {
  background-color: rgb(65, 59, 59);
  color: white;
  /* text-align: center; */
  opacity: 1;
}


.toggle-switch {
    position: relative; /* The circle elements will be absolutely positioned relative to this element */
    width: 50px; /* The width of the toggle switch */
    height: 32px; /* The height of the toggle switch */
    background: grey; /* The background color of the toggle switch */
    border-radius: 30px; /* The border radius of the toggle switch */
    cursor: pointer; /* The cursor changes to a pointer when hovering over the toggle switch */
}


.toggle-switch:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    transition: left 0.2s ease;
    background-image: url(https://cdn3.vectorstock.com/i/1000x1000/40/02/crescent-moon-symbol-icon-design-vector-22314002.jpg);
    /* Add a background image of a moon */
    background-size: cover; /* Scale the background image to cover the entire element */
    background-position: center; /* Position the background image in the center of the element */
}

/* Change the position of the moon when the toggle switch is turned on */
.toggle-switch.on:before {
    left: 25px;
}
